* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
}
/* Navbar component */

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

/* Hero component */

.hero--container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.hero--photo {
  width: 70vw;
  align-self: center;
}

.hero--header {
  margin-top: 2rem;
  font-size: clamp(2.25rem, 5vw + 0.75rem, 2rem);
  max-width: 100vw;
}

.hero--text {
  font-size: clamp(1rem, 1vw + 0.75rem, 1.5rem);
  margin-bottom: 0;
  margin-top: 1rem;
  line-height: 110%;
  max-width: 65vw;
}